
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.NoteNo</td>
                <!-- 
                    asp-route -{파라미터명}: NoteNo 넘길 때 사용 , 이때 파라미터병은 변수명과 정확히 일치해야함
                    
                    url Parameter 넘기는 방법 
                    - http://www.example.com 
                    - http://www.example.com/{noteNo}
                    - http://www.example.com/Note/Detail?noteNo=1
                -->
                <td><a asp-controller="Note" asp-action="Detail" asp-route-noteNo="@note.NoteNo" data-target="#NoteDetail" data-toggle="modal">@note.NoteTitle</a></td>
                <td>@note.UserNo</td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade text-center" id="NoteDetail">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<a class="btn btn-warning" asp-controller="Note" asp-action="Add">Add</a>


